{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/script.js' %}" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Another template</title>
  </head>
  <body>
    <div class="container text-center another mt-5">
      <div class="text-center">
        <h1><span> Submitted Successfully! </span></h1>
        <p>
          Your data has been successfully submitted. Check your email for
          further details.
        </p>
      </div>
    </div>
  </body>
</html>
